<!DOCTYPE html>
<html lang="en">

<head>
    <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='ticket.png') }}"
>
    <h1 style="text-align: center;">Welcome to Ticketing System 🎟️</h1>
    <hr>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='indexstyles.css')}}">
</head>

<body>
    <div class="bg-fixed"></div>
    {% if 'loggedin' not in session %}
    <div class="ui-cluster center">
        <a href="/login">Login</a>
        <br><br>
        <a href="/register">Register</a>
    </div>
    {% endif %}

    {% if 'loggedin' in session %}
    <div class="ui-cluster center">
        <a href="/logout">Logout</a>
        <div>Welcome {{ session['username'] }}</div>
    </div>
    {% endif %}

</body>

</html>